
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 136px;
  padding-right: 288px;
  padding-bottom: 20px;
}
nav a {
  color: #3a5f56;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  transition: all 2s;
}
nav a:hover {
  text-decoration: underline;
}
section,
footer {
  height: 100vh;
}
#main {
  display: flex;
  justify-content: space-between;
  padding-left: 136px;
  padding-right: 136px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: radial-gradient(
    at bottom left,
    rgba(184, 125, 88, 0.8) 0%,
    rgba(184, 125, 88, 0) 100%
  );
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-content h1 {
  color: #3a5f56;
  font-size: 48px;
  width: 477px;
  margin-bottom: 11px;
}
.main-content p {
  color: #292c32;
  font-size: 16px;
  width: 534px;
  margin-bottom: 17px;
}
.main-content button {
  color: white;
  background-color: #3a5f56;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 11px;
  border-radius: 6px;
  border: none;
  width: 118px;
  transition: all 0.6s;
}
.main-content button:hover {
  color: rgba(184, 125, 88, 0.8);
  cursor: pointer;
}
#presets {
  background-color: aqua;
}
#services {
  padding: 147px 136px 100px;
  background: radial-gradient(at bottom left, rgba(58, 95, 86, 0.376) 0%, rgba(58, 95, 86, 0) 100%);
}
.services-header {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #3a5f56;
}
.services-description {
  width: 591px;
  margin: 11px auto 0;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #292c32;
}
.services-card {
  box-sizing: border-box;
  padding: 30px 30px 51px;
  background: #f4f3f0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  width: 379px;
  height: 304px;
}
.services-card-section {
  margin-top: 46px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.services-card-icon {
  background: rgba(58, 95, 86, 0.1);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-card-title {
  font-size: 24px;
  line-height: 29px;
  color: #3a5f56;
  font-weight: 400;
  margin-top: 9px;
  padding-top: 9px;
}
.services-card-content {
  font-size: 16px;
  line-height: 22px;
  color: #292c32;
  margin-top: 6px;
}
.services-card-link {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 18px;
  font-size: 17px;
  line-height: 24px;
  color: #3a5f56;
}
#store {
  background-color: rgb(204, 228, 47);
}
#contact {
  background-color: rgb(184, 55, 89);
}